@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
* {
  font-family: 'Droid Serif', serif;
}

#nav {
  background: red !important;
}

h3 {
  text-align: center;
}

.iframe-container {
  padding-bottom: 60%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
